body{
	background-image: url(hotel-wallpaper.png);
}

#Header{
	text-align: center;
	font-family: "Verdana";
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 2px black;
	text-align: center;
	background-color: white;
	outline-style: solid;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
 	animation-name: example;
  	animation-duration: 10s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: grey;}
  to {background-color: white;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: grey;}
  to {background-color: white;}
}

#Heading{
	text-align: left;
	font-family: Verdana;
}

#Personal{
	text-align: left;
	font-family: "Courier New";
	font-weight: bold;

}

#Information{
	text-align: left;
	font-family: "Courier New"
}

#Availability{
	font-family: "Courier New"
}

#PersonalStatement{
	font-family: "Courier New";
	font-weight: bold;
}

